Willkommen bei secsy!

Klicken Sie auf den folgenden Link um Ihre E-Mail-Adresse zu bestätigen und Ihr Konto zu aktivieren:

{{ base_url }}/app/activate/{{ email_token }}

Falls Sie den Link nicht anklicken können, versuchen Sie ihn in die Adresszeile Ihres Browsers zu kopieren.
