Jemand hat eine Passwort-Zurücksetzung angefordert.

Falls nicht Sie dies taten, dann können Sie dieses E-Mail ignorieren.

Klicken Sie auf den folgenden Link um ein neues Passwort zu setzen:

{{ base_url }}/app/password-reset/{{ email_token }}

Falls Sie den Link nicht anklicken können, versuchen Sie ihn in die Adresszeile Ihres Browsers zu kopieren.
